.img-circle {
    border-radius: 50%;
    height:65px;
    width: 65px;
    margin-left: 22px;
}

.dog-picture {
    float:left;
    width:25%;
}

.container {
    width: 500px;
    background-color: #fff;
    position: fixed !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
}

.navbar {

}

.btn2 {
  background: #4683ab;
  background-image: -webkit-linear-gradient(top, #4683ab, #2980b9);
  background-image: -moz-linear-gradient(top, #4683ab, #2980b9);
  background-image: -ms-linear-gradient(top, #4683ab, #2980b9);
  background-image: -o-linear-gradient(top, #4683ab, #2980b9);
  background-image: linear-gradient(to bottom, #4683ab, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 10;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 4px 16px 4px 16px;
  text-decoration: none;
}

.btn2:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn {
  background: #4683ab;
  background-image: -webkit-linear-gradient(top, #4683ab, #2980b9);
  background-image: -moz-linear-gradient(top, #4683ab, #2980b9);
  background-image: -ms-linear-gradient(top, #4683ab, #2980b9);
  background-image: -o-linear-gradient(top, #4683ab, #2980b9);
  background-image: linear-gradient(to bottom, #4683ab, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

h1{
  text-align: center;
}

body{
  background-color: #333;
}
